<h1><%= @beer.name %></h1>
<p>
    <%= @beer.description %>
</p>

<% if user_signed_in? %>
    <% if @beer.user_id == current_user.id %>
        <%= link_to 'Edit', edit_beer_path(@beer) %> | 
        <%= link_to 'Delete', @beer, method: :delete, data: { confirm: "Are you sure?" } %> |
    <% end %>
<% end %>
<%= link_to 'Back', :back %>